CONFIG_BOOTCOMMAND="setenv bootargs android.serialno=${serial#} console=ttySTM0,115200 debug; stm32prog ${boot_device} ${boot_instance}; fastboot ${boot_device} ${boot_instance}"
CONFIG_DEFAULT_DEVICE_TREE="stm32mp157c-dk2"
CONFIG_USE_BOOTCOMMAND=y
CONFIG_BOOTDELAY=-2
CONFIG_FIT=y
CONFIG_FIT_SIGNATURE=y
CONFIG_FIT_SIGNATURE_STRICT=y
CONFIG_FIT_VERBOSE=y
CONFIG_RSA=y
CONFIG_ENV_SIZE=0x4000
CONFIG_ENV_OFFSET=0x800000
# CONFIG_ENV_IS_IN_MMC is not set
# CONFIG_ENV_IS_IN_FAT is not set
CONFIG_ENV_IS_NOWHERE=y
# CONFIG_ENV_IS_IN_SPI_FLASH is not set
# CONFIG_ENV_IS_IN_UBI is not set
# CONFIG_SYS_REDUNDAND_ENVIRONMENT is not set

# Disable PSCI reset to correctly use STPMIC reset
# CONFIG_SYSRESET_PSCI is not set

# SE050 errata
CONFIG_TEE_I2C_NXP_SE05X_ERRATA=y
CONFIG_TEE_I2C_NXP_SE05X_ERRATA_IN_BUS=5

# enable fastboot
CONFIG_USB_FUNCTION_FASTBOOT=y
CONFIG_FASTBOOT_BUF_ADDR=0xd0000000
CONFIG_FASTBOOT_FLASH=y
CONFIG_FASTBOOT_FLASH_MMC_DEV=0
CONFIG_FASTBOOT_CMD_OEM_UCMD=y
# CONFIG_FASTBOOT_FLASH_MMC is not set

# enable OTP programming
CONFIG_CMD_STM32PROG=y
CONFIG_CMD_STM32PROG_OTP=y

# disable for security
# CONFIG_ANDROID_BOOT_IMAGE is not set
# CONFIG_LEGACY_IMAGE_FORMAT is not set
# CONFIG_SUPPORT_RAW_INITRD is not set
# CONFIG_NET is not set
