[Unit]
Description=Foundries.io configuration management daemon
After=network.target
ConditionPathExists=/var/sota/sota.toml

[Service]
EnvironmentFile=-/etc/default/fioconfig
RestartSec=10
Restart=always
ExecStartPre=mkdir -p /var/run/secrets
ExecStart=/usr/bin/fioconfig daemon

[Install]
WantedBy=multi-user.target
