[Unit]
Description=Foundries.io configuration management script to extract secrets at boot
After=var.mount NetworkManager.service
Before=fioconfig.service
ConditionPathExists=/var/sota/config.encrypted

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/fioconfig extract

[Install]
WantedBy=multi-user.target
