[Unit]
Description=Aktualizr OSTree Update Automatic Reboot
ConditionPathExists=/run/aktualizr/ostree-pending-update

[Service]
Type=simple
ExecStart=/usr/bin/systemctl --force reboot
