[Unit]
Description=Aktualizr OSTree Update Automatic Reboot
ConditionPathExists=/var/run/aktualizr-session/need_reboot

[Service]
Type=simple
ExecStart=/usr/sbin/reboot
