# CONFIG_SPL_USB_HOST is not set
# CONFIG_FSL_CAAM is not set
# CONFIG_SPL_SHA_HW_ACCEL is not set
# CONFIG_CMD_HASH is not set
# CONFIG_SPL_DM_GPIO is not set
# CONFIG_IMX_HAB is not set
CONFIG_FASTBOOT_BUF_ADDR=0x44800000
CONFIG_FASTBOOT_BUF_SIZE=0x19000000
CONFIG_FSL_FASTBOOT_BOOTLOADER2_OFFSET=0x300
CONFIG_SECONDARY_BOOT_SECTOR_OFFSET=0x1000
# CONFIG_SPL_DM_I2C is not set
CONFIG_SPL_SYS_I2C_LEGACY=y
# CONFIG_SPL_DM_MMC is not set
# CONFIG_VIDEO_BRIDGE is not set
# CONFIG_VIDEO_SEC_MIPI_DSI is not set
# CONFIG_VIDEO_IMX_SEC_DSI is not set
# CONFIG_VIDEO_LINK is not set
