[Unit]
Description=Aktualizr Lite SOTA Client
After=network.target
ConditionPathExists=|/var/sota/sota.toml
ConditionPathExists=|/usr/lib/sota/conf.d/10-lite-public-stream.toml
ConditionPathExists=!/usr/bin/mbedCloudClient

[Service]
RestartSec=180
Restart=always
ExecStart=/usr/bin/aktualizr-lite --update-lockfile /run/lock/aktualizr-lite-update daemon

[Install]
WantedBy=multi-user.target
