# CONFIG_QCOM_EBI2 is not set
CONFIG_QCOM_SMD_APR=y
CONFIG_QCOM_RPROC_COMMON=m
CONFIG_QCOM_Q6V5_PIL=m
CONFIG_QCOM_WCNSS_PIL=m
CONFIG_QCOM_MDT_LOADER=m
CONFIG_QCOM_SMEM_STATE=y
CONFIG_QCOM_SMP2P=y
CONFIG_QCOM_SMSM=y
CONFIG_QCOM_WCNSS_CTRL=y
CONFIG_QCOM_IOMMU=y
CONFIG_QCOM_CPR=y
CONFIG_QCOM_Q6V5_PIL=y
CONFIG_QCOM_QFPROM=y
CONFIG_QCOM_TSENS=y
CONFIG_ARM_QCOM_CPUFREQ=y
CONFIG_MSM_BUS_SCALING=y
CONFIG_PHY_QCOM_QUSB2=y
CONFIG_PHY_QCOM_QMP=y
CONFIG_REGULATOR_QCOM_SAW=y
CONFIG_MSM_APCC_8996=y
CONFIG_DRM_MSM_HDMI_HDCP=y
CONFIG_SND_SOC_QCOM=y
CONFIG_QRTR=y
CONFIG_QRTR_SMD=y
CONFIG_CMA_SIZE_MBYTES=128
CONFIG_REMOTEPROC=m
CONFIG_RPMSG_CHAR=y
CONFIG_RPMSG_QCOM_GLINK_RPM=y
CONFIG_RPMSG_QCOM_GLINK_SMEM=y
CONFIG_QCOM_APCS_IPC=y
CONFIG_SCSI_UFSHCD=y
CONFIG_SCSI_UFSHCD_PLATFORM=y
CONFIG_SCSI_UFS_QCOM=y
CONFIG_PHY_QCOM_UFS=y
CONFIG_UFS_FS=y
