CONFIG_SPL=y
CONFIG_SPL_LDSCRIPT="arch/arm/mach-omap2/u-boot-spl.lds"
CONFIG_SPL_DRIVERS_MISC=y
CONFIG_SPL_STACK_R_ADDR=0x68800000
CONFIG_SPL_TEXT_BASE=0x2F011000
CONFIG_SPL_LOAD_FIT=y
CONFIG_SPL_BOARD_INIT=y
CONFIG_SPL_SYS_MALLOC_SIMPLE=y
CONFIG_SPL_STACK_R=y
CONFIG_SPL_SHA256=y
CONFIG_SPL_CRYPTO=y
CONFIG_SPL_HASH=y
CONFIG_SPL_ENV_SUPPORT=y
CONFIG_SPL_OPTEE_IMAGE=y
CONFIG_SPL_MMC=y
CONFIG_SPL_DM_SEQ_ALIAS=y
CONFIG_SPL_OF_TRANSLATE=y
CONFIG_SPL_SIZE_LIMIT=0x2EC00
CONFIG_SPL_ENV_IS_NOWHERE=y
# CONFIG_SPL_ENV_IS_IN_MMC is not set
# CONFIG_SPL_LEGACY_IMAGE_SUPPORT is not set
# CONFIG_SPL_EFI_PARTITION is not set
# CONFIG_SPL_PARTITION_UUIDS is not set
# CONFIG_SPL_DOS_PARTITION is not set
# CONFIG_SPL_DM_USB_GADGET is not set
# CONFIG_SPL_USB_HOST is not set
# CONFIG_SPL_USB_GADGET is not set
# CONFIG_SPL_USB_SDP_SUPPORT is not set
CONFIG_SYS_MMCSD_RAW_MODE_U_BOOT_USE_SECTOR=y
CONFIG_SYS_MMCSD_RAW_MODE_U_BOOT_SECTOR=0x180
CONFIG_IMX_HAB=y
# CONFIG_CMD_DEKBLOB is not set
CONFIG_TEE=y
CONFIG_OPTEE=y
CONFIG_OPTEE_LIB=y
CONFIG_OF_LIBFDT_OVERLAY=y
CONFIG_OPTEE_TZDRAM_SIZE=0x02000000
# CONFIG_LEGACY_IMAGE_FORMAT is not set
CONFIG_PARTITION_UUIDS=y
# CONFIG_FIOVB is not set
# CONFIG_CMD_FIOVB is not set
CONFIG_CMD_XIMG=y
# CONFIG_SUPPORT_EMMC_RPMB is not set
CONFIG_SUPPORT_EMMC_BOOT=y
CONFIG_SECONDARY_BOOT_RUNTIME_DETECTION=y
CONFIG_SECONDARY_BOOT_SECTOR_OFFSET=0x1000
CONFIG_CMD_SECONDARY_BOOT=y
CONFIG_BOOTCOMMAND="setenv verify 1; source 0x60800000; reset"
# CONFIG_LDO_ENABLED_MODE is not set
CONFIG_ARMV7_BOOT_SEC_DEFAULT=y
CONFIG_OF_BOARD_SETUP=y
CONFIG_ULP_WATCHDOG=y
CONFIG_SPI=y
CONFIG_DM_SPI=y
CONFIG_FSL_QSPI=y
# CONFIG_ENV_IS_IN_MMC is not set
CONFIG_ENV_IS_IN_FAT=y
CONFIG_ENV_FAT_INTERFACE="mmc"
CONFIG_ENV_FAT_DEVICE_AND_PART="0:1"
CONFIG_CMD_IMPORTENV=y
CONFIG_CMD_EDITENV=y
CONFIG_CMD_SAVEENV=y
CONFIG_FS_EXT4=y
CONFIG_CMD_EXT4=y
# CONFIG_ANDROID_BOOT_IMAGE is not set
# CONFIG_NET is not set
# CONFIG_CMD_NET is not set
# CONFIG_CMD_DHCP is not set
# CONFIG_CMD_BOOTP is not set
# CONFIG_CMD_TFTPBOOT is not set
# CONFIG_CMD_NFS is not set
# CONFIG_CMD_SYSBOOT is not set
# CONFIG_CMD_BDI is not set
# CONFIG_CMD_BMODE is not set
# CONFIG_CMD_PXE is not set
# CONFIG_CMD_SATA is not set
# CONFIG_CMD_USB is not set
# CONFIG_CMD_USB_SDP is not set
# CONFIG_CMD_USB_MASS_STORAGE is not set
# CONFIG_CMD_BOOTD is not set
# CONFIG_CMD_BOOTZ is not set
# CONFIG_CMD_EXPORTENV is not set
# CONFIG_CMD_FUSE is not set
# CONFIG_CMD_GPIO is not set
# CONFIG_CMD_GPT is not set
# CONFIG_CMD_EXT4_WRITE is not set
# CONFIG_EFI_LOADER is not set
# CONFIG_EFI_PARTITION is not set
# CONFIG_EXT4_WRITE is not set
# CONFIG_SATA is not set
# CONFIG_DWC_AHSATA is not set
# CONFIG_DM_SCSI is not set
# CONFIG_USB is not set
# CONFIG_USB_FUNCTION_FASTBOOT is not set
# CONFIG_CI_UDC is not set
# CONFIG_FASTBOOT is not set
# CONFIG_USB_KEYBOARD is not set
# CONFIG_USB_GADGET is not set
# CONFIG_USB_HOST_ETHER is not set
# CONFIG_BOOTM_NETBSD is not set
# CONFIG_BOOTM_PLAN9 is not set
# CONFIG_BOOTM_RTEMS is not set
# CONFIG_BOOTM_VXWORKS is not set
# CONFIG_CMD_ELF is not set
# CONFIG_CMD_IMI is not set
# CONFIG_CMD_LOADB is not set
# CONFIG_CMD_LOADS is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_DM_VIDEO is not set
# CONFIG_OPTEE_TA_AVB is not set
# CONFIG_CHIMP_OPTEE is not set
# CONFIG_CMD_BOOTZ is not set
