[Unit]
Description=Ensure apps are configured and running as early as possible
Wants=docker.service
After=docker.service
Before=lmp-device-auto-register.service
ConditionPathExists=!/var/sota/sql.db

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/compose-apps-early-start

[Install]
WantedBy=multi-user.target
