[Unit]
Description=Bluetooth (wl18xx) Init Script for HiKey
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/btsetup-hikey

[Install]
WantedBy=multi-user.target
