CONFIG_SPL_DM=y
CONFIG_SPL_OF_CONTROL=y
CONFIG_SPL_FIT=y
CONFIG_SPL_LOAD_FIT=y
# CONFIG_SPL_FIT_IMAGE_TINY is not set
CONFIG_SPL_CRYPTO=y
CONFIG_SPL_HASH=y
CONFIG_HASH=y
# CONFIG_FSL_CAAM is not set
# CONFIG_SPL_SHA_HW_ACCEL is not set
# CONFIG_SPL_LEGACY_IMAGE_SUPPORT is not set
# CONFIG_SPL_EFI_PARTITION is not set
# CONFIG_SPL_PARTITION_UUIDS is not set
# CONFIG_SPL_DOS_PARTITION is not set
# CONFIG_SPL_DM_USB is not set
# CONFIG_SPL_USB_HOST is not set
# CONFIG_SPL_USB_GADGET is not set
# CONFIG_SPL_USB_SDP_SUPPORT is not set
# CONFIG_CMD_DEKBLOB is not set
CONFIG_OF_LIBFDT_OVERLAY=y
CONFIG_SPL_WATCHDOG=y
CONFIG_SYS_MMCSD_RAW_MODE_U_BOOT_USE_SECTOR=y
CONFIG_SYS_MMCSD_RAW_MODE_U_BOOT_SECTOR=0x300
CONFIG_SECONDARY_BOOT_RUNTIME_DETECTION=y
CONFIG_SECONDARY_BOOT_SECTOR_OFFSET=0x1000
# CONFIG_LEGACY_IMAGE_FORMAT is not set
CONFIG_PARTITION_UUIDS=y
CONFIG_TEE=y
CONFIG_OPTEE=y
CONFIG_OPTEE_LIB=y
CONFIG_FIOVB=y
CONFIG_CMD_FIOVB=y
CONFIG_CMD_XIMG=y
CONFIG_CMD_SECONDARY_BOOT=y
CONFIG_SUPPORT_EMMC_RPMB=y
CONFIG_SUPPORT_EMMC_BOOT=y
# CONFIG_ENV_IS_IN_FAT is not set
# CONFIG_ENV_IS_IN_MMC is not set
CONFIG_ENV_IS_NOWHERE=y
CONFIG_ENV_FAT_INTERFACE="mmc"
CONFIG_ENV_FAT_DEVICE_AND_PART="2:1"
CONFIG_ENV_SIZE=0x4000
CONFIG_CMD_IMPORTENV=y
CONFIG_CMD_EDITENV=y
CONFIG_CMD_SAVEENV=y
CONFIG_BOOTCOMMAND="setenv verify 1; source 0x44800000; reset"
CONFIG_IMX_WATCHDOG=y
CONFIG_SPL_HW_WATCHDOG=y
CONFIG_POWER_LEGACY=y
CONFIG_SPL_I2C=y
CONFIG_CMD_I2C=y
CONFIG_DM_I2C=y
# CONFIG_SPL_DM_I2C is not set
CONFIG_SPL_SYS_I2C_LEGACY=y
CONFIG_SYS_I2C_EARLY_INIT=y
CONFIG_POWER_I2C=y
# CONFIG_SPL_WDT is not set
# CONFIG_SPL_DM_MMC is not set
# CONFIG_SPL_BLK is not set
# CONFIG_ANDROID_BOOT_IMAGE is not set
# CONFIG_CMD_NFS is not set
# CONFIG_CMD_SYSBOOT is not set
# CONFIG_CMD_BDI is not set
# CONFIG_CMD_BMODE is not set
# CONFIG_CMD_PXE is not set
# CONFIG_CMD_SATA is not set
# CONFIG_CMD_USB is not set
# CONFIG_CMD_USB_MASS_STORAGE is not set
# CONFIG_CMD_USB_SDP is not set
# CONFIG_CMD_BOOTD is not set
# CONFIG_CMD_BOOTZ is not set
# CONFIG_CMD_FUSE is not set
# CONFIG_CMD_GPIO is not set
# CONFIG_CMD_I2C is not set
# CONFIG_EFI_LOADER is not set
# CONFIG_EFI_PARTITION is not set
# CONFIG_EXT4_WRITE is not set
# CONFIG_SATA is not set
# CONFIG_DWC_AHSATA is not set
# CONFIG_DM_SCSI is not set
# CONFIG_UDP_FUNCTION_FASTBOOT is not set
# CONFIG_USB_FUNCTION_FASTBOOT is not set
# CONFIG_CMD_FASTBOOT is not set
# CONFIG_FASTBOOT is not set
# CONFIG_USB is not set
# CONFIG_USB_STORAGE is not set
# CONFIG_USB_KEYBOARD is not set
# CONFIG_USB_HOST_ETHER is not set
# CONFIG_USB_TCPC is not set
# CONFIG_BOOTM_NETBSD is not set
# CONFIG_BOOTM_PLAN9 is not set
# CONFIG_BOOTM_RTEMS is not set
# CONFIG_BOOTM_VXWORKS is not set
# CONFIG_CMD_ELF is not set
# CONFIG_CMD_IMI is not set
# CONFIG_CMD_LOADB is not set
# CONFIG_CMD_LOADS is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_DM_VIDEO is not set
# CONFIG_VIDEO_BRIDGE is not set
# CONFIG_VIDEO_SEC_MIPI_DSI is not set
# CONFIG_VIDEO_IMX_SEC_DSI is not set
# CONFIG_VIDEO_LINK is not set
# CONFIG_SHA_HW_ACCEL is not set
# CONFIG_DFU is not set
# CONFIG_CMD_DFU is not set
# CONFIG_CMD_SNTP is not set
# CONFIG_CMD_RTC is not set
# CONFIG_CMD_TIME is not set
# CONFIG_CMD_GETTIME is not set
# CONFIG_CMD_TIMER is not set
# CONFIG_CMD_POWEROFF is not set
