CONFIG_DEFAULT_DEVICE_TREE="zynqmp-zcu102-rev1.0"
CONFIG_XILINX_PS_INIT_FILE="psu_init_gpl.c"
CONFIG_BUILD_TARGET="u-boot.bin"
CONFIG_SPL_CRYPTO_SUPPORT=y
CONFIG_SPL_HASH_SUPPORT=y
CONFIG_SPL_FIT_PRINT=y
CONFIG_SPL_RSA_VERIFY=y
CONFIG_RSA=y
# CONFIG_ENV_IS_NOWHERE is not set
CONFIG_ENV_IS_IN_FAT=y
CONFIG_ENV_FAT_INTERFACE="mmc"
CONFIG_ENV_FAT_DEVICE_AND_PART="1:1"
CONFIG_ENV_OFFSET=0x2200000
CONFIG_ENV_OFFSET_REDUND=0x2220000
# CONFIG_SYS_REDUNDAND_ENVIRONMENT is not set
CONFIG_TEE=y
CONFIG_OPTEE=y
CONFIG_OPTEE_LIB=y
# Align max size with ATF (OCRAM - 256KB)
CONFIG_SPL_SIZE_LIMIT=0x27000
CONFIG_SYS_SPI_BOOT_IMAGE_OFFS2=0x60000
# CONFIG_SPL_EFI_PARTITION is not set
# CONFIG_SPL_PARTITION_UUIDS is not set
# CONFIG_SPL_DM_USB is not set
# CONFIG_SPL_LEGACY_IMAGE_SUPPORT is not set
# CONFIG_SPL_CRC32 is not set
# CONFIG_SPL_SHA1 is not set
# CONFIG_SPL_SHA384 is not set
# CONFIG_SPL_SHA512 is not set
# CONFIG_SPL_GZIP is not set
# CONFIG_SPL_ZLIB is not set
# CONFIG_CMD_MTD is not set
# CONFIG_CMD_MTDPARTS is not set
# CONFIG_CMD_UBI is not set
# CONFIG_SPI_FLASH_MTD is not set
# CONFIG_SPL_SPI_FLASH_TINY is not set
# CONFIG_SPI_FLASH_SPANSION is not set
# CONFIG_SPI_FLASH_MACRONIX is not set
# CONFIG_SPI_FLASH_WINBOND is not set
# CONFIG_SPI_FLASH_SST is not set
# CONFIG_SPI_FLASH_ISSI is not set
